@import "../../../_variables.scss";

.messages{
  display: none;
  width: 320px;
  position: absolute;
  left: 240px;
  top: 80px;
  max-height: 465px;
  text-align: left;
  box-shadow: 2px 0 20px rgba(0, 0, 0, .2);
  z-index: 1000;
  background-color: #FFF;
  .new-messages{
    width: 100%;
    min-height: 60px;
    max-height: 70px;
    background-color: #7460ee!important;
    color: #FFF;
    h4{
      padding-top: 10px;
      margin-bottom: 5px;
      margin-left: 20px;
      font-size: 20px;
      font-weight: 400;
    }
    p{
      margin-bottom: 0;
      margin-left: 20px;
      font-size: 14px;
      padding-bottom: 10px;
    }
  }
  .items-users{
    .item-user{
      display: flex;
      cursor: pointer;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      transition: all .3s;
      &:hover{
        background-color: rgba(0, 0, 0, .1);
      }
      .img-user{
        position: relative;
        margin: 15px 20px 0;
        width: 15%;
        img{
         border-radius: 50%;
          width: 100%;
        }
        .active-user{
          border-radius: 50%;
          display: block;
          height: 11px;
          width: 11px;
          position: absolute;
          top: 2%;
          left: 70%;
          border: 2px solid #FFF;
        }
        .user-1{
          background-color: #36bea6;
        }
        .user-2{
          background-color: #f62d51;
        }
        .user-3{
          background-color: #ffbc34;
        }
      }
      .title{
        margin: 10px 0 15px;
        h6{
          margin-bottom: 5px;
        }
        span{
          font-weight: 700;
          font-size: 12px;
          color: rgba(0, 0, 0, .3);
          display: block;
        }
      }
    }
    .check{
      cursor: pointer;
      h5{
        margin: 15px 0;
        width: 100%;
        text-align: center;
        color: rgba(0, 0, 0, .3);
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}