@import "../../../_variables.scss";

.notification{
  display: none;
  width: 320px;
  position: absolute;
  left: 100px;
  top: 80px;
  max-height: 465px;
  text-align: left;
  box-shadow: 2px 0 20px rgba(0, 0, 0, .2);
  z-index: 1000;
  background-color: #FFF;
  .new-notifications{
    width: 100%;
    min-height: 60px;
    max-height: 70px;
    background-color: #7460ee!important;
    color: #FFF;
    h4{
      padding-top: 10px;
      margin-bottom: 5px;
      margin-left: 20px;
      font-size: 20px;
      font-weight: 400;
    }
    p{
      margin-bottom: 0;
      margin-left: 20px;
      font-size: 14px;
      padding-bottom: 10px;
    }
  }
  .items{
    .item{
      cursor: pointer;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      transition: all .3s;
      display: flex;
      &:hover{
        background-color: rgba(0, 0, 0, .1);
      }
      .icon{
        opacity: 1;
        margin: 15px 0 15px 20px;
        display: inline-block;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        color: #FFF;
      }
      .link{
        background-color: #f62d51;
        border-color: #f62d51;
      }
      .calendar{
        background-color: $secondColor;
        border-color: $secondColor;

      }
      .cog{
        background-color: $mainColor;
        border-color: $mainColor;

      }
      .user{
        background-color: #7460ee;
        border-color: #7460ee;

      }
      .title{
        margin: 10px 0 15px 20px;
        h6{
          margin-bottom: 5px;
        }
        span{
          font-weight: 600;
          font-size: 12px;
          color: rgba(0, 0, 0, .3);
          display: block;
        }
      }
    }
    .check{
      cursor: pointer;
      h5{
        margin: 15px 0;
        width: 100%;
        text-align: center;
        color: rgba(0, 0, 0, .3);
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}