@import "../../../_variables.scss";

.order-box
{
    padding: 15px;
    .order-title
    {
        margin-bottom: 20px;
        h5{
            color: #7A8081;
            font-size: 17px;
            font-weight: 500;
        }
    }
    .main-order
    {
        display: flex;
        justify-content: space-between;
        div{
            flex: .5;
        }
        .order-salary{
            h1{
                color: #6C757D;
                font-size: 2rem;
            }
            p{
                font-size: 15px;
                color: #adb5bd;
                margin: 10px 0;
            }
            b{
                color: #7A8081;
                font-size: 15px;
            }
        }
    }
}