@import "../../../_variables.scss";

.product-box
{
    background-color: rgba(255, 255, 255, .6);
    padding: 15px 0 100px;
    @media (max-width: 1900px) {
        padding-bottom: 220px;
    }
    @media (max-width: 768px) {
       padding-bottom: 300px;
    }
    @media (max-width: 500px) {
        padding-bottom: 80px;
    }
    .product-item
    {
        padding: 25px;
        .product {
            display: flex;
            @media (max-width: 768px) {
                display: block;
            }
        }
        .product-price{
            display: flex;
            @media (max-width: 768px) {
                display: block;
            }
        }
        .product-discount{
            display: flex;
            @media (max-width: 768px) {
                display: block;
            }
        }
        .product-category{
            display: flex;
            @media (max-width: 768px) {
                display: block;
            }
        }
        .product-photo{
            display: flex;
            @media (max-width: 768px) {
                display: block;
            }
        }
        .item
        {
            flex: .5;
            margin: 10px 15px;
            @media (max-width: 768px) {
                flex: 1;
            }
            label{
                display: block;
                font-size: 12px;
                font-weight: bold;
            }
            input
            {
                width: 100%;
                font-size: 15px;
                padding: 8px 15px;
                color: $mainColor;
                outline: none;
                border: 1px solid #c8c8c8;
                border-radius: 5px;
            }
            select{
                width: 100%;
                padding: 8px 15px;
                border: 1px solid #c8c8c8;
                outline: none;
                border-radius: 5px;
            }
            #upload-photo{
                display: none;
            }
            .upload-photo{
                margin-bottom: 1em;
                padding: 10px;
                cursor: pointer;
                font-size: 15px;
                border: 1px solid #c8c8c8;
                border-radius: 5px;
            }
            img{
                width: 100%;
                height: 350px;
            }
            textarea{
                width: 100%;
                height: 350px;
                max-height: 350px;
                border: 1px solid #c8c8c8;
                border-radius: 5px;
                outline: none;
                padding: 10px;
            }
        }
        .item-discount
        {
            flex: .5;
            margin: 10px 15px;
            @media (max-width: 768px) {
                flex: 1;
            }
            label{
                display: block;
                font-size: 12px;
                font-weight: bold;
            }
            .checkbox{
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
    }
}