@import "../../../_variables.scss";

.profile{
  background-color: #FFF;
  display: none;
  width: 280px;
  position: absolute;
  right: 50px;
  top: 70px;
  max-height: 450px;
  text-align: left;
  box-shadow: 2px 0 20px rgba(0, 0, 0, .2);
  z-index: 10000;
  animation-name: animatedegree;
  animation-duration: .5s;
  animation-timing-function: linear;
  .user-profile{
    width: 100%;
    min-height: 80px;
    max-height: 90px;
    background-color: #7460ee!important;
    display: flex;
    .img{
      margin: 10px 15px;
      width: 25%;
      img{
        border-radius: 50%;
        width: 100%;
      }
    }
    .name-profile{
      margin-top: 20px;
      width: 75%;
      color: #FFF;
      p{
        margin: 0;
      }
      p.name{
        font-size: 17px;
        font-weight: 600;
      }
    }
  }
  .details-profile{
    padding: 10px 0;
    i{
      margin-right: 5px;
    }
    p{
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      padding: 8px 30px;
      transition: all .4s;
      margin: 10px 0;
      color: #212529;
      &:hover{
        background-color: #f8f9fa;
      }
    }
  }
  .main-profile{
    i{
      margin-right: 7px;
    }
    div{
      margin-bottom: 15px;
      p{
        border: 1px solid #f8f9fa;
        padding: 10px 30px;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        transition: all .4s;
        color: #212529;
        margin: 0;
        &:hover{
          background-color: #f8f9fa;
        }
      }
      p.view{
        margin-left: 30px;
        padding: 8px 13px;
        font-size: 10px;
        background-color: #36bea6;
        color: #FFF;
        border-radius: 25px;
        width: 80px;
      }
    }
  }
}
@media (max-width: 768px){
  .profile{
    right: 10px;
    width: 100%;
    .user-profile{
      .img{
        width: 20%;
        margin-left: 30px;
        img{
          border-radius: 50%;
          width: 100%;
        }
      }
    }
    .details-profile, .main-profile{
      padding-left: 10px;
    }
  }
}
.display-profile {
  display: block !important;
}

@keyframes animatedegree {
  0% {transform: rotateY(110deg);}
  100% {transform: rotateY(0deg);}
}
