@import "../../../_variables.scss";

.revenue-box
{
    padding: 15px;
    .revenue-title
    {
        margin-bottom: 20px;
        h5{
            color: #7A8081;
            font-size: 17px;
            font-weight: 500;
        }
    }
    .main-revenue
    {
        display: flex;
        justify-content: space-between;
        div{
            flex: .5;
        }
        .revenue-salary{
            h1{
                color: #f62d51;
                font-size: 2rem;
            }
            p{
                font-size: 15px;
                color: #adb5bd;
                margin: 10px 0;
            }
            b{
                color: #7A8081;
                font-size: 15px;
            }
        }
    }
}