@import "../../../_variables.scss";

.tax-box
{
    padding: 15px;
    .tax-title
    {
        h5{
            color: #7A8081;
            font-size: 17px;
            font-weight: 500;
        }
    }
    .main-tax
    {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        div{
            flex: .5;
        }
        .tax-salary{
            h1{
                color: $mainColor;
                font-size: 2rem;
            }
            p{
                font-size: 15px;
                color: #adb5bd;
                margin: 10px 0;
            }
            b{
                color: #7A8081;
                font-size: 15px;
            }
        }
    }
}