@import "../_variables.scss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app{
  #page{
    display: flex;
    #sidebar{
     width: 16%;
      z-index: 1000;
    }
    @media (max-width: 768px){
      #sidebar{
        display: none;
      }
    }
    #home{
      background-color: $fiveColor;
      width: 100%;
      z-index: 1000;
      height: 90vh;
    }
    @media (max-width: 768px){
      #home{
        height: 89vh;
        overflow: auto;
      }
    }
  }
}

ul{
  list-style: none;
}

.title{
  cursor: pointer;
}

.list{
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $fourColor;
  display: none;
  a{
    color: $thirdColor;
    display: inline-block;
    padding: 7px 15px 7px 20px;
    transition: all .4s;
    font-size: 14px;
    font-weight: 500;
    opacity: .8;
    &:hover{
      text-decoration: none;
      color: $mainColor;
    }
  }
  .link{
    position: relative;
    cursor: pointer;
    &:hover a{
      color: $mainColor;
    }
    &:hover .icons{
      color: $mainColor;
    }
  }
}

.title-name{
  padding-left: 20px;
  margin-right: 5px;
  font-size: 16px;
  transition: all .4s;
}

.icon{
  font-weight: 100;
  opacity: .5;
}

span.icons{
  position: absolute;
  right: 20px;
  font-size: 16px;
  color: $sixColor;
}

.icon-logo{
  position: absolute;
  right: 20px;
  transition: all .4s;
}

.link{
  position: relative;
  cursor: pointer;
  &:hover a{
    color: $mainColor;
  }
  &:hover .icon{
    color: $mainColor;
  }
  .icon{
    position: absolute;
    right: 25px;
    font-size: 16px;
    color: $sixColor;
  }
}

.number{
  display: inline-block;
  width: 30px;
  height: 17px;
  text-align: center;
  vertical-align: top;
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
  margin-right: 15px;
  border-radius: 25px;
}

span.i{
  padding-right: 15px;
  font-size: 20px;
  i{
    cursor: pointer;
    color: $sixColor;
    transition: all .4s;
    &:hover{
      color: #000;
    }
  }
}