@import "../_variables.scss";

body{
  height: 1000px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app{
  display: flex;
  #sidebar{
    position: fixed;
    width: 18%;
  }
  #topNavbar{
    position: fixed;
    right: 0;
    width: 82%;
  }
}

ul{
  list-style: none;
}

.title{
  cursor: pointer;
}

.app{
  display: flex;
  width: 100%;
}

.list{
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $Color4;
  display: none;
  a{
    color: $Color3;
    display: inline-block;
    padding: 7px 15px 7px 20px;
    transition: all .4s;
    font-size: 14px;
    font-weight: 500;
    opacity: .8;
    &:hover{
      text-decoration: none;
      color: $Color1;
    }
  }
  .link{
    position: relative;
    cursor: pointer;
    &:hover a{
      color: $Color1;
    }
    &:hover .icons{
      color: $Color1;
    }
  }
}

.title-name{
  padding-left: 20px;
  margin-right: 5px;
  font-size: 16px;
  transition: all .4s;
}

.icon{
  font-weight: 100;
  opacity: .5;
}

span.icons{
  position: absolute;
  right: 20px;
  font-size: 16px;
  color: $Color6;
}

.icon-logo{
  position: absolute;
  right: 20px;
  transition: all .4s;
}

.link{
  position: relative;
  cursor: pointer;
  &:hover a{
    color: $Color1;
  }
  &:hover .icon{
    color: $Color1;
  }
  .icon{
    position: absolute;
    right: 25px;
    font-size: 16px;
    color: $Color6;
  }
}

.number{
  display: inline-block;
  width: 30px;
  height: 17px;
  text-align: center;
  vertical-align: top;
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
  margin-right: 15px;
  border-radius: 25px;
}

span.i{
  padding-right: 15px;
  font-size: 20px;
  i{
    cursor: pointer;
    color: $Color6;
    transition: all .4s;
    &:hover{
      color: #000;
    }
  }
}