@import "../_variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.app
{
    display: flex;
    height: 100Vh;

    .sidebar {
        height: 100%;
        background-color: #FFF;
        box-shadow: 1px 0 4px rgba(0, 0, 0, .08);
        flex: .2;
        overflow: auto;
    }

    .page
    {
        flex: .88;
        height: 100%;

        .page-navbar {
            height: 70px;
            box-shadow: 1px 0 4px rgba(0, 0, 0, .1);
        }

        .home {
            height: calc(100% - 70px);
            overflow-y: auto;
            padding: 30px;
        }
    }

    @media screen and (min-width: 1900px)
    {
        .sidebar {
            flex: .1;
        }

        .page {
            flex: .9;
        }
    }
    @media screen and (max-width: 768px)
    {
        .sidebar {
            flex: 0.1;
        }

        .page {
            flex: 0.9;
        }
    }
}


.dropdown-show {
    display: block !important;
}

.dropdown-hide {
    display: none !important;
}