@import "../../../_variables.scss";

.sidebar{
  height: 90vh;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 5px 0 20px rgba(0,0,0,.08);
  .logo{
    padding: 13px 25px 13px 5px;
    border-bottom: 1px solid $fourColor;
    img{
      padding: 0 10px;
    }
  }
  .dashboard{
    position: relative;
    margin-bottom: 25px;
    .title{
      padding-top: 30px;
      .title-name{
        color: $mainColor;
      }
      .number{
        background-color: $secondColor;
      }
      .icon-logo{
        color: $mainColor;
      }
    }
    .list{
      display: block;
      .link .two{
        color: $mainColor;
      }
      .link .three{
        color: #f62d51;
      }
      .link .four{
        color: #ffbc34;
      }
      .link .five{
        color: #7460ee;
      }
      li.active{
        a{
          color: $thirdColor;
        }
        &:hover a{
          color: $thirdColor;
        }
        &:hover .icons{
          color: $secondColor;
        }
        .icons{
          color: $secondColor;
        }
      }
    }
  }
  .apps{
    position: relative;
    margin-bottom: 20px;
    .title{
      &:hover{
        .title-name, .icon-logo{
          color: $mainColor;
        }
      }
      .title-name{
        color: $thirdColor;
      }
      .icon-logo{
        color: $sixColor;
      }
    }
  }
  .inbox{
    margin-bottom: 20px;
    position: relative;
    .title{
      &:hover .title-name{
        color: $mainColor;
      }
      &:hover .icon-logo{
        color: $mainColor;
      }
      .title-name{
        color: $thirdColor;
      }
      .icon-logo{
        color: $thirdColor;
      }
    }
  }
  .elements{
    position: relative;
    margin-bottom: 20px;
    .title{
      &:hover .title-name{
        color: $mainColor;
      }
      &:hover .icon-logo{
        color: $mainColor;
      }
      .title-name{
        color: $thirdColor;
      }
      .number{
        background-color: #7460ee;
      }
      .icon-logo{
        color: $thirdColor;
      }
    }
  }
  .logout{
    padding-left: 20px;
    .link{
      position: relative;
      a{
        color: $thirdColor;
        text-decoration: none;
        transition: all .4s;
      }
      &:hover a{
        color: $mainColor;
      }
      i{
        position: absolute;
        right: 20px;
        top: 7px;
        color: $secondColor;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .sidebar{
    z-index: 1000;
    width: 100%;
    display: none;
  }
}
