$mainColor: #009efb;
$secondColor: #01c0c8;
$thirdColor: #343a40;
$fourColor: #F7F7F7;
$fiveColor: #e9ecef;
$sixColor: #929292;

$Color1: #888888;
$Color2: #e65540;
$Color3: #f5f5f5;
$Color4: #000;
$Color5: #FFF;